*{
  margin: 0;
}

.container{
  background-color: gainsboro;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}


.card{
  background-color: thistle;
  margin: 20px;
  height: 350px;;
  width: 300px;
 display: grid;
  
  
  border-radius: 30px;

  
}
.heading{
  background-color: aqua;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

 

  
  
}
.lower{

  
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.upper{

  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.title{
  background-color: transparent;
  width: fit-content;
  
  font-size: 40px;
  font-weight: 800;
 
  
}
.btn{
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(174, 194, 187);
  height: fit-content;
 
  

  
}
.button1{
   background-color: rgb(233, 44, 233);
  padding: 5px;
  margin:10px;
  
  border-radius: 7px;
  font-weight: 700;
 
  
}
.button2{
  background-color: gainsboro;
 padding: 5px;
 margin:10px;
 border-radius: 7px;
 font-weight: 700;
 
 
}
.addBtn{
  margin-top: 10px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; 
  padding: 15px;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addBtn2{
  margin-top: 10px;
  background-color: gainsboro;
  color: black;
  border: 2px solid #4CAF50; 
  padding: 15px;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBox{
  width: 100%;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  margin-top: 5px;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  margin-right: 4px;
}

.searchField{
  visibility:hidden;

}
.openSearchField{
  visibility: visible;
}
